body {
	background: #ccc;
	color: #333;
	font: 14px 'Arial', sans-serif;
	text-align: center;
}

a {
	color: #506e2f;
	text-decoration: none;
}

a:hover {
	color: #ff4500;
}

div.contenedor {
	width: 100%;
	margin: 0 auto;
}

div.izquierda,div.derecha {
	width: 300px;
}

div.izquierda {
	float: left;
	text-align: left;
}

div.juego {
	
}

div.juego canvas {
	box-shadow: 0 0 30px #000;
}

div.derecha {
	float: right;
}

div.derecha h3.tituloPuntuaciones {
	background: url("../images/medalla.png") no-repeat left;
	padding: 10px;
}

div.derecha ul#puntuaciones {
	width: 300px;
	margin: 0;
	padding: 0;
	list-style: none;
}

div.derecha ul#puntuaciones li {
	line-height: 1.5em;
	border-bottom: 1px solid #aaa;
	float: left;
	display: inline;
	width: 50%;
	padding: 10px 0;
}

.negrita {
	font-weight: bold;
}

ul.lista {
	margin: 25px 0;
	padding: 0;
	list-style: none;
	text-align: left;
}

ul.lista li {
	padding: 10px 0;
}

ul.lista li.firefox,ul.lista li.chrome,ul.lista li.safari,ul.lista li.izquierda,ul.lista li.derecha,ul.lista li.espacio
	{
	padding-left: 40px;
}

ul.lista li.izquierda {
	background: url("../images/izquierda.png") no-repeat left;
}

ul.lista li.derecha {
	background: url("../images/derecha.png") no-repeat left;
}

ul.lista li.espacio {
	background: url("../images/space.gif") no-repeat left;
}

ul.lista li.firefox {
	background: url("../images/firefox.png") no-repeat left;
}

ul.lista li.chrome {
	background: url("../images/chrome.png") no-repeat left;
}

ul.lista li.safari {
	background: url("../images/safari.png") no-repeat left;
}

ul.lista li.titulo {
	font-weight: bold;
}

/*Nuevo*/
.capa_degradado {
	border: 1px solid #d2d2d2;
	padding: 16px;
	text-align: center;
	/* width: 600px; */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #f0f0f0;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f0f0f0),
		to(#d8d8d8) );
	background: -webkit-linear-gradient(#f0f0f0, #d8d8d8);
	background: -moz-linear-gradient(#f0f0f0, #d8d8d8);
	background: -ms-linear-gradient(#f0f0f0, #d8d8d8);
	background: -o-linear-gradient(#f0f0f0, #d8d8d8);
	background: linear-gradient(#f0f0f0, #d8d8d8);
	-pie-background: linear-gradient(#f0f0f0, #d8d8d8);
}

.margen_tabla_abajo {
	margin-top: 1em;
	margin-bottom: 1em;
}

.fondo_blanco_degradado {
	background-color: #fff;
}

.
.centrar {
	text-align: center;
}

.fondo_cabecera {
	background-color: #f0f0f0;
}

.bold {
	font-weight: bold;
}

.no_bold {
	font-weight: normal;
}

.fondo_celda {
	background-color: #f7f7f7;
}

/* --------------- caracteres de las columnas ---------------*/
.char1 {
	width: 1em;
}

.char2 {
	width: 2em;
}

.char3 {
	width: 2.7em;
}

.char4 {
	width: 4em;
}

.char5 {
	width: 5em;
}

.char6 {
	width: 6em;
}

.char7 {
	width: 7em;
}

.char8 {
	width: 8em;
}

.char9 {
	width: 9em;
}

.char10 {
	width: 10em;
}

.char11 {
	width: 11em;
}

.char12 {
	width: 12em;
}

.char13 {
	width: 13em;
}

.char14 {
	width: 14em;
}

.char15 {
	width: 15em;
}

.char16 {
	width: 16em;
}

.char17 {
	width: 17em;
}

.char18 {
	width: 18em;
}

.char19 {
	width: 19em;
}

.char20 {
	width: 20em;
}

.char25 {
	width: 25em;
}

.char29 {
	width: 29em;
}

.char35 {
	width: 35em;
}

.char39 {
	width: 39em;
}